<launch>

<node pkg="falcon_tdlas" exec="falcon_tdlas" name="falcon_tdlas" output="screen" >
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="topic" value="/falcon/reading"/>
    <param name="verbose" value="true"/>
    <param name="frequency" value="10"/>
</node>

<node name="falcon_plot" pkg="rqt_plot" exec="rqt_plot" args="/falcon/reading/average_ppmxp /falcon/reading/average_reflection_strength /falcon/reading/average_absorption_strength" />
</launch>